{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{%static 'admin-panel/css/commonstyle.min.css'%}">
    <link rel="shortcut icon" href="{%static '/favicon.png' %}" type="image/x-icon">
    <script src="{%static 'admin-panel/js/jquery.min.js'%}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


  <title>Home -  Job Portal</title>
  <style>
    .s-module-card-div {
      background-color: white;
      padding: 13px;
      text-align: center; 
      cursor: pointer; 
      min-width: 120px; 
      box-shadow: 1px 1px 5px 1px #c9c9c9;
      text-decoration: none;
    }
  </style>
</head>
<body>
  {%if messages%}
    {%for message in messages%}
    <script type="text/javascript">
        toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
    </script>
    {%endfor%}
  {%endif%}

  <div style="display: flex; justify-content: space-between;box-shadow: 0px 1px 8px 1px #cdcdcd;padding: 10px;margin: -8px;">
    <div>
      <p style="font-weight: bold;font-size: 30px; margin:0">Welcome to JOB PORTAL </p>
    </div>
    <div>
      <a href="{% url 'profile' %}" style="text-decoration: none;color: black; margin-right:10px">Profile</a>
      <a href="{% url 'logout' %}" style="text-decoration: none;color: black;">Logout</a>
    </div>
  </div>

  <div style="height: 75vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h3 style="margin-bottom: 50px;font-weight: 100;letter-spacing: 1px;border-bottom: 1px solid gray;">Please select a module</h3>
    <div style="display: flex; gap: 25px;">
      {% for module in modules %}
        <a href="{{module.url}}" class="s-module-card-div">
          <img style="height: 5rem;" alt="{{module.name}}>" {% if module.image %} src="{%static module.image.url %}">{%else%} src="{{module.image}}"> {% endif %}
          <h2 style="font-size: 12px; margin-top: 10px; margin-bottom: 0; color: black; font-weight: 900;">{{module.name}}</h2>
        </a>
      {% endfor %}
    </div>
  </div>
</body>
</html>